# Create this .gitignore file in local repo/folder becomes my local ignore list.
#
# All listed files/folders/patterns will be ignored (recursively) when add to stage and commit,
# such that all transient files are not submitted.
#
# Also, this .gitignore file will be committed.

*.o
